<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="./fonts/veteran_typewriter.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <div id="app">
        <v-app dark>
                <v-app-bar app style="font-family: 'veteran_typewriterregular', sans-serif; font-size: 150%;">
                    <v-avatar
                        size="30"
                        :color="websocketConnected ? 'success' : 'error'"
                    >
                        <v-icon v-if="websocketConnected">mdi-check</v-icon>
                        <v-icon v-else>mdi-close</v-icon>
                    </v-avatar>
                    <v-spacer></v-spacer>
                    <img class="mr-3" src="./icon.png" width="50">
                        <h3 class="font-weight-regular">
                            Taskmaster Suite
                        </h3>
                    <v-spacer></v-spacer>
                    <v-switch
                        v-model="darkMode"
                        dense
                        hide-details
                    >
                        <template v-slot:label>
                            <v-icon>mdi-moon-waxing-crescent</v-icon>
                        </template>
                    </v-switch>
                </v-app-bar>
                <v-main>
                    <v-container fluid>
                        <h3>
                            Basic Controls
                        </h3>
                        <v-btn class="ma-1" color="primary" @click="sendMessage('showTaskmaster')">Show Taskmaster</v-btn>
                        <v-btn class="ma-1" color="primary" @click="sendMessage('showScoreboard')">Show Scoreboard</v-btn>
                        <v-btn class="ma-1" color="primary" @click="sendMessage('play')">Update Scoreboard</v-btn>
                        <br>
                        <v-btn v-for="item in filteredSpecialImages" :key="item.name" class="ma-1 mr-2" color="primary" @click="sendMessage('showImage+++./data/' + item.img_source)">Show {{item.name}}</v-btn>
                    </v-container>
                    <v-divider></v-divider>
                    <v-container fluid>
                        <v-layout row class="ma-1">

                            <h3>
                                Scores
                            </h3>
                            <v-spacer></v-spacer>
                            <v-dialog
                                v-model="resetDialog"
                                width="500"
                                overlay-opacity="0.8"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        color="primary"
                                        v-bind="attrs"
                                        v-on="on"
                                        small
                                    >
                                        Reset all scores
                                    </v-btn>
                                </template>
                            
                                <v-card>
                                    <v-card-title>
                                        Reset all scores
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-text class="mt-4">
                                        Are you sure you want to reset all scores to 0?
                                    </v-card-text>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="secondary"
                                            @click="resetDialog = false"
                                        >
                                            Cancel
                                        </v-btn>
                                        <v-btn
                                            color="primary"
                                            @click="resetScores()"
                                        >
                                            Confirm
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-layout>
                        <v-simple-table
                            fixed-header
                            height="300"
                        >
                            <template v-slot:default>
                                <thead>
                                    <tr style="height: 100px">
                                        <th class="text-left">
                                            Task
                                        </th>
                                        <th v-for="item in contestants" :key="item.name">
                                            {{ item.name }}
                                            <br>
                                            Score: 
                                            <v-chip
                                                left
                                                class="pa-2"
                                                color="primary"
                                                small
                                            >
                                                {{ totalScores[item.id] }}
                                            </v-chip> 
                                            <!-- Rank:
                                            <v-chip
                                                left
                                                class="green pa-2"
                                                small
                                            >
                                                4
                                            </v-chip> -->
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="(task, tIndex) in tasks"
                                        :key="task.id"
                                    > 
                                        <td>
                                            <v-btn small color="primary" @click="selectedTask = task">
                                                {{ task.name }}
                                            </v-btn>
                                        </td>
                                        <td v-for="(contestant, cIndex) in contestants" :key="contestant.id">
                                            <v-row no-gutters style="width: 100px;">
                                                <v-col>
                                                    <v-text-field
                                                        hide-details
                                                        solo
                                                        light
                                                        height="40px"
                                                        type="number"
                                                        v-model="internalScores[task.id][contestant.id]"
                                                        @input="updateScore(task.id, contestant.id)"
                                                        style="min-width: 60px; max-width: 60px; border-top-right-radius: 0; border-bottom-right-radius: 0;"
                                                        dense
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col>

                                                    <v-menu
                                                    bottom
                                                    left
                                                    offset-y
                                                    close-on-content-click
                                                    >
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-btn 
                                                            height="40px" 
                                                            color="primary" 
                                                            min-width="0" 
                                                            width="20" 
                                                            style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                                                            v-bind="attrs"
                                                            v-on="on"
                                                            >
                                                            <v-icon>
                                                                mdi-numeric
                                                            </v-icon>
                                                        </v-btn>
                                                    </template>
                                                    <v-card color="grey" class="pa-2">
                                                        <v-row dense>
                                                            <v-col>
                                                                <v-btn color="primary" min-width="0" max-width="20" width="20" @click="setScore(task.id, contestant.id, '0')">0</v-btn>
                                                            </v-col>
                                                            <v-col>
                                                                <v-btn color="primary" min-width="0" max-width="20" width="20" @click="setScore(task.id, contestant.id, '1')">1</v-btn>
                                                            </v-col>
                                                            <v-col>
                                                                <v-btn color="primary" min-width="0" max-width="20" width="20" @click="setScore(task.id, contestant.id, '2')">2</v-btn>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row dense>
                                                            <v-col>
                                                                <v-btn color="primary" min-width="0" max-width="20" width="20" @click="setScore(task.id, contestant.id, '3')">3</v-btn>
                                                            </v-col>
                                                            <v-col>
                                                                <v-btn color="primary" min-width="0" max-width="20" width="20" @click="setScore(task.id, contestant.id, '4')">4</v-btn>
                                                            </v-col>
                                                            <v-col>
                                                                <v-btn color="primary" min-width="0" max-width="20" width="20" @click="setScore(task.id, contestant.id, '5')">5</v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </v-card>
                                                </v-menu>
                                            </v-col>
                                            <v-spacer></v-spacer>
                                            </v-row>
                                            <!-- for (var i = 1; i <= contestants.length; i++) {
                                                $("#buttons-" + task["id"] + "-" + contestant["id"]).append("<button class='btn btn-outline-primary quick-score-button' style='width: auto' onclick='setScore(" + task["id"] + ", " + contestant["id"] + ", " + i + ")'>" + i + "</button>")
                                            } -->
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-container>
                    <v-divider></v-divider>
                    <v-container fluid>
                        <h3>
                            Task selected: {{selectedTask.name}}
                        </h3>

                        <v-layout row wrap class="mt-2">
                            <v-card class="ma-2" v-for="image in selectedTask.images" :key="image" max-width="192">
                                <v-img
                                :src="'/home/data/tasks/' + selectedTask.name + '/' + image"
                                height="108"
                                width="192"
                                class="grey darken-4"
                                ></v-img>
                                <v-card-actions>
                                    <div class="text-caption">{{ image | removeExtension }}</div>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" small @click="sendMessage('showImage+++./data/tasks/' + selectedTask.name + '/' + image)">Show</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-layout>
                        <v-layout row wrap class="mt-2">
                            <v-card class="ma-2" v-for="video in selectedTask.videos" :key="video" max-width="192">
                                <v-card
                                    height="50"
                                    width="192"
                                    class="justify-center d-flex align-center"
                                >Video</v-card>
                                <v-card-actions>
                                    <div class="text-caption">{{ video | removeExtension }}</div>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" small @click="sendMessage('showVideo+++./data/tasks/' + selectedTask.name + '/' + video)">Show</v-btn>
                                </v-card-actions>
                            </v-card>
                            <v-card class="ma-2" v-for="note in selectedTask.notes" :key="note.file" max-width="192">
                                <v-card
                                    height="50"
                                    width="192"
                                    class="justify-center d-flex align-center"
                                >Note</v-card>
                                <v-card-actions>
                                    <div class="text-caption">{{ note.file | removeExtension }}</div>
                                    <v-spacer></v-spacer>
                                    <v-dialog
                                        v-model="resetDialog"
                                        min-width="400"
                                        max-width="700"
                                        overlay-opacity="0.8"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn
                                                color="primary"
                                                v-bind="attrs"
                                                v-on="on"
                                                small
                                            >
                                                Open
                                            </v-btn>
                                        </template>
                                    
                                        <v-card>
                                            <v-card-title>
                                                Note: {{ note.file | removeExtension }}
                                            </v-card-title>
                                            <v-divider></v-divider>
                                            <v-card-text class="mt-4">
                                                <span :inner-html.prop="note.text | replaceNewLines"></span>
                                            </v-card-text>
                                            <v-divider></v-divider>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                    color="secondary"
                                                    @click="resetDialog = false"
                                                >
                                                    Close
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-card-actions>
                            </v-card>
                        </v-layout>
                    </v-container>
            </v-main>
        </v-app>
    </div>
    <script src="js/reconnecting-websocket.min.js"></script>
    <script src="js/assistant.js"></script>
</body>
</html>